<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Dispositivi</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
<ion-item no-lines>
  <ion-label>Elenco Dispositivi</ion-label>
</ion-item>
  <ion-searchbar placeholder="campo libero" (ionInput)="getDispositivi($event)"></ion-searchbar>
  <ion-item>
    <ion-label>Tipologia</ion-label>
    <ion-select [(ngModel)]="tipologiaSelezionata" (ionChange)="getDispositivi()">
      <ion-option *ngFor="let tipologia of listaTipologie" [value]="tipologia">
        {{tipologia.tab_tipo_dispositivo_desc}}</ion-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Provincia</ion-label>
    <ion-select [(ngModel)]="provinciaSelezionata" (ionChange)="getDispositivi()">
      <ion-option *ngFor="let provincia of listaProvince" [value]="provincia">{{provincia.Descrizione}}</ion-option>
    </ion-select>
  </ion-item>
  <ion-list>
    <ion-item *ngFor="let dispositivo of listaDispositivi" (click)="goToDetails($event, dispositivo)">
      <h3>
        {{dispositivo.dis_titolo}}
      </h3>
      <p>
        Codice {{dispositivo.az_codice_interno}}<br>
        Sito{{dispositivo.az_ragione_sociale}}<br>
        Tipologia{{dispositivo.tab_tipo_dispositivo_desc}}<br>
        Scadenza aut. {{dispositivo.autorizzazione_scadenza}}<br>
        {{dispositivo.attivita_situazione.att_scadute}}<br>
        {{dispositivo.attivita_situazione.att_prossime}}<br>
        {{dispositivo.attivita_situazione.att_future}}<br> 
        stato
      </p>
    </ion-item>
  </ion-list>
</ion-content>