<ion-header>
  <ion-navbar hideBackButton>
    <ion-buttons left>
      <button (click)="back()" ion-button icon-left clear>
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <div class="icon-section">
        <i [ngClass]="icon" [ngStyle]="{'color' : color }"></i>
      </div>
    </ion-buttons>
    <ion-title>Osservazione</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div padding>
    <ion-segment [(ngModel)]="whichPage">
      <ion-segment-button value="Osservazione" checked (ionSelect)="segmentOsservazioneClicked($event)">
        <ion-label>Dati Osservazione</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Commenti" (ionSelect)="segmentCommentiClicked($event)">
        <ion-label>Commenti</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Immagini" (ionSelect)="segmentImmaginiClicked($event)">
        <ion-label>Immagini</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="whichPage">
    <ion-list *ngSwitchCase="'Osservazione'">
      <div class="card no-border card-large">
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <ion-item>
              <ion-label>Titolo {{osservazione.att_titolo }}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Sito {{osservazione.az_codice_interno }} {{osservazione.az_ragione_sociale }}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Tipologia {{osservazione.tab_tipo_scadenza_desc }}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Descrizione </ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Data rilevazione {{osservazione.data_segnalazione}} </ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Data inizio effettiva</ion-label>
              <ion-datetime displayFormat="DD-MM-YYYY HH:mm" [(ngModel)]="dataInizio" disabled="{{conclusa}}">
              </ion-datetime>
            </ion-item>
            <ion-item>
              <ion-label>Data fine effettiva </ion-label>
              <ion-datetime displayFormat="DD-MM-YYYY HH:mm" [(ngModel)]="dataFine" disabled="{{conclusa}}">
              </ion-datetime>
            </ion-item>

            <ion-item>
              <ion-label>Note sulla chiusura </ion-label>
              <ion-textarea disabled="{{conclusa}}" [(ngModel)]="note"></ion-textarea>
            </ion-item>
            <button *ngIf="!conclusa" ion-button block outline (click)="chiudiOsservazione()">Concludi</button>
          </ul>

          <ion-item-group *ngFor="let pers of listaPersonalizzate">
            <ion-item *ngIf="pers.tam_tipologia==='T'">
              <ion-label>{{pers.tam_proprieta}}</ion-label>
              <ion-input disabled="{{conclusa}}" value="{{pers.attivita_modulo_valori.tac_valore_t}}"
                (ionChange)="valoreTChanged($event, pers.tipo_attivita_modulo_proprieta_key)"></ion-input>
            </ion-item>
            <ion-item *ngIf="pers.tam_tipologia==='D'">
              <ion-label>{{pers.tam_proprieta}} </ion-label>
              <ion-datetime disabled="{{conclusa}}" [(ngModel)]="pers.attivita_modulo_valori.tac_valore_d"
                (ionChange)="valoreDChanged($event, pers.tipo_attivita_modulo_proprieta_key)"></ion-datetime>
            </ion-item>
            <ion-item *ngIf="pers.tam_tipologia==='N'">
              <ion-label>{{pers.tam_proprieta}}</ion-label>
              <ion-input type="number" disabled="{{conclusa}}" value="{{pers.attivita_modulo_valori.tac_valore_n}}"
                (ionChange)="valoreNChanged($event, pers.tipo_attivita_modulo_proprieta_key)"></ion-input>
            </ion-item>

            <ion-item *ngIf="pers.tam_tipologia==='O'">
              <ion-label>{{pers.tam_proprieta}}</ion-label>
              <ion-toggle disabled="{{conclusa}}" [checked]="pers.c_valori[0].tam_selected ==='S'"
                (ionChange)="valoreOChanged($event, pers.tipo_attivita_modulo_proprieta_key)"></ion-toggle>
            </ion-item>

            <ion-item *ngIf="pers.tam_tipologia==='S'">
              <ion-label>{{pers.tam_proprieta}}</ion-label>
              <ion-select [(ngModel)]="valoreSKey" disabled="{{conclusa}}"
                (ionChange)="valoreSChanged($event, pers.c_valori, pers.tipo_attivita_modulo_proprieta_key)">
                <ion-option *ngFor="let valoreS of pers.c_valori"
                  [value]="valoreS.tipo_attivita_modulo_proprieta_valori_key" [selected]="valoreS.tam_selected ==='S'">
                  {{valoreS.tam_testo}}</ion-option>
              </ion-select>
            </ion-item>

            <ion-item-group *ngIf="pers.tam_tipologia==='M'">
              <ion-label>{{pers.tam_proprieta}}</ion-label>
              <ion-list>
                <ion-item *ngFor="let valoreM of pers.c_valori">
                  <ion-label>{{valoreM.tam_testo}}</ion-label>
                  <ion-checkbox slot="end" disabled="{{conclusa}}" [checked]="valoreM.tam_selected ==='S'"
                    (ionChange)="valoreMChanged(valoreM.tipo_attivita_modulo_proprieta_valori_key, pers.tipo_attivita_modulo_proprieta_key)">
                  </ion-checkbox>
                </ion-item>
              </ion-list>
            </ion-item-group>
          </ion-item-group>
        </div>
      </div>
    </ion-list>
    <ion-list *ngSwitchCase="'Commenti'">
      <ion-label *ngIf="listaCommenti && listaCommenti.length>0">Commenti</ion-label>
      <ion-label *ngIf="!listaCommenti || listaCommenti.length===0">Nessun commento presente</ion-label>
      <ion-list *ngFor="let com of listaCommenti; let i=index">
        <ion-item>
          <ion-label>{{com.com_nominativo}}</ion-label>
          <ion-label>{{com.com_data}}</ion-label>
        </ion-item>
        <ion-label>{{com.com_descrizione}}</ion-label>
        <button ion-button *ngIf="myUserKey===com.com_dipendente_key"
          (click)="eliminaCommento(com, undefined)">elimina</button>
        <button ion-button *ngIf="selectedIndexCommento != i" (click)="rispondiCommento(i)">rispondi</button>

        <ion-list *ngFor="let c of com.c_commenti" style="padding-left:90px">
          <ion-item>
            <ion-label>{{c.com_nominativo}}</ion-label>
            <ion-label>{{c.com_data}}</ion-label>
          </ion-item>
          <ion-label>{{c.com_descrizione}}</ion-label>
          <button ion-button *ngIf="myUserKey===com.com_dipendente_key"
            (click)="eliminaCommento(c, com.c_commenti)">elimina</button>
          <button ion-button *ngIf="selectedIndexCommento != i" (click)="rispondiCommento(i)">rispondi</button>
        </ion-list>

        <div *ngIf="selectedIndexCommento == i">
          <ion-textarea [(ngModel)]="rispostaTesto"></ion-textarea>
          <ion-item>
            <button ion-button (click)="chiudiCommento()">chiudi</button>
            <button ion-button (click)="inviaRispostaCommento(com)">rispondi</button>
          </ion-item>
        </div>
      </ion-list>
      <ion-item>
        <ion-label>Scrivi il tuo commento</ion-label>
        <ion-textarea [(ngModel)]="commentoTesto"></ion-textarea>
      </ion-item>
      <button ion-button block outline (click)="salvaCommento()">commenta</button>
    </ion-list>

    <ion-list *ngSwitchCase="'Immagini'">
      <button ion-button *ngIf="!conclusa" (click)="presentImmagineActionSheet()">Nuova Immagine</button>
      <ion-item *ngFor="let imm of listaImmagini">
        <ion-row>
          <button *ngIf="!conclusa" ion-button (click)="goToEliminaImmagine(imm)">Elimina</button>
          <img src="{{imm.img_url+imm.img_file}}">
        </ion-row>
      </ion-item>
    </ion-list>

  </div>

</ion-content>