<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Siti</ion-title>
    </ion-navbar>
</ion-header>
<ion-content >
    <ion-item no-lines>
        <ion-label>Elenco Siti</ion-label>
    </ion-item>
    <ion-searchbar placeholder="campo libero" (ionInput)="getSiti($event)"></ion-searchbar>
    <ion-item>
        <ion-label>Tipologia</ion-label>
        <ion-select [(ngModel)]="tipologiaSelezionata" (ionChange)="getSiti()">
            <ion-option *ngFor="let tipologia of listaTipologie" [value]="tipologia">
                {{tipologia.tab_tipologia_sito_desc}}</ion-option>
        </ion-select>
    </ion-item>
    <ion-item>
        <ion-label>Provincia</ion-label>
        <ion-select [(ngModel)]="provinciaSelezionata" (ionChange)="getSiti()">
            <ion-option *ngFor="let provincia of listaProvince" [value]="provincia">{{provincia.Descrizione}}
            </ion-option>
        </ion-select>
    </ion-item>
    <ion-list *ngFor="let sito of listaSiti" (click)="goToDetails($event, sito)">
        <button no-lines ion-item color="light">Sito {{sito.az_ragione_sociale}}</button>
        <ion-item><p>codice</p> <ion-note item-end><p>{{sito.az_codice_interno}}</p></ion-note></ion-item>
        <ion-item><p>Tipologia</p> <ion-note item-end><p>{{sito.tab_tipologia_sito_desc}}</p></ion-note></ion-item>
        <ion-item><p>Indirizzo</p> <ion-note item-end><p>{{sito.indirizzo_completo}}</p></ion-note></ion-item>
        <ion-item><p>Cliente</p> <ion-note item-end><p>{{sito.gr_ragione_sociale}}</p></ion-note></ion-item>
        <ion-item *ngIf="sito.prescrizioni_count>0">icona {{sito.prescrizioni_count}}</ion-item>
    </ion-list>
</ion-content>