$color-default: #8EA7BD;
$color-doc: #84B783;
$color-comm: #E7967B;
$color-chat: #3FA397;
$color-priority: #FAB900;


a {
  color: $gray-600;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:hover {
  color: $gray-900;
  text-decoration: underline;
}

.no-border {
    border: none;
}

.navbar-toggler {
    border: none;
    padding: 0;
}

body.sidenav-toggled .navbar-sidenav .nav-link-text {
    display: none;
    @media screen and (max-width: 992px) {
        display: inline-block;
    }
}


.btn-transparent {
    background-color: rgba(255,255,255,.2);
    border-color: rgba(255,255,255,1);
    color: #fff;
    &:hover {
        background-color: rgba(255,255,255,1);
        color: #000;

    }
}

.btn-custom {
    color: #fff;
    background-color: $color-default;
    &:hover {
        color: #fff;
        background-color: darken($color-default, 5);
    }
}

*[onclick] {
    cursor: pointer;
}


body, .content-wrapper {
    background-color: darken($gray-100, 1);
}

.login {
    background-image: url(/Assets/images/home.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    text-transform: uppercase ;
}

.logo {
    @include text-hide;
    background: url(/Assets/images/logotipo.svg) no-repeat center center;
    height: 30px;
    width: 30px;
    float: left;
    margin-right: 10px;
}
.login .logo {
    @include text-hide;
    background: url(/Assets/images/logo.svg) no-repeat center center;
    width: 100%;
    height: 75px;
}


.bg-default {
    background-color: $color-default;
}

.bg-doc {
    background-color: $color-doc;
}

.bg-comm {
    background-color: $color-comm;
}

.bg-chat {
    background-color: $color-chat;
}

.bg-priority {
    background-color: $color-priority;

}

.text-default {
    color: $color-default;
}

.text-doc {
    color: $color-doc;
}

.text-comm {
    color: $color-comm;
}

.text-chat {
    color: $color-chat;
}

.text-priority {
    color: $color-priority;

}

.user-bigger {
    width: 100px;
    img {
        border-radius: 50%;
        border: solid 6px $color-chat;
        width: 100%;
        
    }
    &.dashed {
        img {
            border-style: dashed;
        }
    }
    &.disabled {
        img {
        border-color: #aaa;
        }
    }
}
.user-big {
    width: 60px;
    img {
        border-radius: 50%;
        border: solid 4px $color-chat;
        width: 100%;
        
    }
    &.dashed {
        img {
            border-style: dashed;
        }
    }
    &.disabled {
        img {
        border-color: #aaa;
        }
    }
}
.user-small {
    width: 30px;
    img {
        border-radius: 50%;
        border: solid 2px $color-chat;
        width: 100%;
        
    }
    &.dashed {
        img {
            border-style: dashed;
        }
    }
}

.addBook {
    img {
        border-color: $color-default;
    }
}

.userData {
    .name {
        font-size: 1.5rem;
        line-height: 1.5rem;
        font-weight: normal;
        color: $gray-600;
        margin: 0;
        padding: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .role {
        color: $color-default;
        font-size: 1rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.roleInfo, {
    width: auto;
    td {
        font-size: 1rem;
        padding: 5px 0;
        &:first-child {
            color: $gray-500;
        }
        &:last-child {
            color: $gray-600;
            font-weight: 600;

        }
    }
}

.contacts {
    width: auto;
    td {
        font-size: 1rem;
        padding: 5px 0;
        span {
            font-size: 1.2rem;
        }
        img {
            height: 40px;
            padding-right: 30px;
        }
        &:first-child {
            font-size: 2rem;
            color: $gray-500;
        }
        &:last-child {
            font-size: inherit;
            color: $gray-600;
            font-weight: 600;
        }
    }
}

.comm {
    .list-group-item { 
        display: flex;
    }
    .item {
        display: inline-block;
        width: 60px;
        padding-right: 10px;
        margin-right: 10px;
        line-height: 2rem;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            border-right: solid 4px $color-comm;
            top: 0;
            right: -2px;
            height: 100%
        }
        &.readed:after {
            border-right: solid 1px $gray-500;
            right: 0;
        }
        
        .day {
            font-size: 2rem;
            color: $gray-500;
            display: block;
            text-align: center;
            line-height: 2rem;
        }
        .mounth {
            font-size: .5rem;
            text-transform: uppercase;
            color: $color-comm;
            display: block;
            text-align: center;
            line-height: 1rem;
        }
    }

    .brief {
        min-width: 0;
        flex: 1;
        .title {
            font-size: 1.3rem;
            line-height: 1.3rem;
            margin: 0;
            font-weight: normal;
            color: $gray-600;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .text {
            color: $color-comm;
            font-size: .75rem;
            line-height: 1rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .read {
            position: absolute;
            right: 1rem;
            top: 1.5rem;
            font-size: 1.5rem;
            color: $color-comm;
        }
    }
}

.chat {
    .list-group-item { 
        display: flex;
        .item {
            margin-right: 15px;
            

        
        }

        .brief {
            min-width: 0;
            flex: 1;
            .name {
                font-size: 1rem;
                line-height: 1rem;
                margin: 0;
                font-weight: normal;
                color: $gray-600;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .text {
                color: $gray-500;
                margin: 0;
                font-size: .75rem;
                line-height: .75rem;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

         &.other {
            .item {
                margin-left: 15px;
                margin-right: auto; 
            }
        }
    }
    
}
.priority {
    .list-group-item { 
        display: flex;
        &.readed {
            opacity: .5;
        }
    }
    .item {
        margin-right: 15px;
        font-size: 1.2rem;
        color: $color-priority;
    }

    .brief {
        min-width: 0;
        flex: 1;
        h5 {
            font-size: 1rem;
            line-height: 1rem;
            margin-top: .35rem;
            font-weight: normal;
            color: $gray-600;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        h5 {
            font-size: 1rem;
            line-height: 1rem;
            margin: 0;
            font-weight: normal;
            color: $gray-600;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        p {
            color: $gray-500;
            margin: 0;
            font-size: .75rem;
            line-height: .75rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}


.addressBook {
    .list-group-item { 
        display: flex;
        .item {
            margin-right: 15px;
        }

        .brief {
            min-width: 0;
            flex: 1;
            .name {
                font-size: 1rem;
                line-height: 1rem;
                margin: 0;
                font-weight: normal;
                color: $gray-600;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .text {
                color: $gray-500;
                margin: 0;
                font-size: .75rem;
                line-height: .75rem;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .device {
                position: absolute;
                right: 1rem;
                top: 1rem;
                font-size: 1.5rem;
                color: $color-default;
            }
        }

         &.other {
            .item {
                margin-left: 15px;
                margin-right: auto; 
            }
        }
    }
    
}

.docs {
    .list-group-item { 
        display: flex;
        .item {
            margin-right: 15px;
            img {
                height: 30px;
            }
        }

        .brief {
            min-width: 0;
            flex: 1;
            .name {
                font-size: 1rem;
                line-height: 1rem;
                margin: 0;
                font-weight: normal;
                color: $gray-600;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .text {
                color: $gray-500;
                margin: 0;
                font-size: .75rem;
                line-height: .75rem;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

         &.other {
            .item {
                margin-left: 15px;
                margin-right: auto; 
            }
        }
    }
    
}

.card-header {
    &.small {
        padding: .3rem 1.25rem;
    }
    a {
        color: rgba(255,255,255, .75) !important;
        &.disabled {
            color: #fff !important;
            cursor: default;
            &:first-child {
                padding-left: 0;
            }
        }
        &:hover {
            color: rgba(255,255,255, 1) !important;
        }
    }
    .nav-link {
        padding: 0rem .7rem;
        &.active { // per i nav-pills nelle header di sezione
            background-color: #fff;
            color: #666 !important;
        }
    }
}


.card-transp {
    background-color: rgba(255,255,255,0);
    border-color: rgba(255,255,255,0);
    color: #fff;
    .card-header {
        background-color: rgba(255,255,255,0);
        border-color: rgba(255,255,255,0)
        a {
            color: #fff !important;
        }
    }
    input {
        color: #fff;
        background-color: rgba(255,255,255,.2);
        border-color: rgba(255,255,255,1);
        @include placeholder {
            color: #fff;
        }
    }
}