<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>991014087326-bqiotlpe1v3rrqrjhmgtueqb4iv87hrc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.991014087326-bqiotlpe1v3rrqrjhmgtueqb4iv87hrc</string>
	<key>API_KEY</key>
	<string>AIzaSyCALyK47FqTVkxLmQ35L_tVuWfV10Sq72E</string>
	<key>GCM_SENDER_ID</key>
	<string>991014087326</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.marte5.giscoapp</string>
	<key>PROJECT_ID</key>
	<string>giscoapp</string>
	<key>STORAGE_BUCKET</key>
	<string>giscoapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:991014087326:ios:7f6942539089f2c2</string>
	<key>DATABASE_URL</key>
	<string>https://giscoapp.firebaseio.com</string>
</dict>
</plist>