<ion-header>
  <ion-navbar hideBackButton>
    <ion-buttons left>
      <button (click)="back()" ion-button icon-left clear>
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <div class="icon-section">
        <i [ngClass]="icon" [ngStyle]="{'color' : color }"></i>
      </div>
    </ion-buttons>
    <ion-title>Messaggio</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="card no-border card-large circolari">
    <div [ngStyle]="{'background-color' : color }" [ngStyle]="{'background-color' : color }"
      class="card-header ì small text-white">{{mess.soggetto}}
    </div>
    <div class="card-body">
      <ul class="list-group list-group-flush comm">
        <li style="padding:10px;">
          <p><small>Mittente: {{mess.cognome_mit}}</small></p>
          <p><small>Destinatario: {{mess.cognome_des}}</small></p>
          <p><small><i>{{mess.descrizione}}</i></small></p>
          <p>{{mess.messaggio}}</p>
          <img src="{{mess.nw_immagine}}">

        </li>
      </ul>
    </div>

  </div>
</ion-content>
<ion-footer *ngIf="!messagioCestino">
  <div [ngStyle]="{'background-color' : color }" class="small text-white">
    <ion-grid class="messaggi-action">
      <ion-row>
        <ion-col>
          <ion-icon name="undo" (click)="reply(mess)"></ion-icon>

        </ion-col>
        <ion-col>

          <ion-icon name="redo" (click)="inoltro(mess)"></ion-icon>

        </ion-col>
        <ion-col>

          <ion-icon name="trash" (click)="deleteConfirm(mess)"></ion-icon>

        </ion-col>
        <ion-col *ngIf="!onlyNotImportant">
          <ion-icon name="star-outline" *ngIf="mess.preferito==''" (click)="setStar(mess,'S')"></ion-icon>
          <ion-icon name="star-outline" *ngIf="mess.preferito=='N'" (click)="setStar(mess,'S')"></ion-icon>
          <ion-icon name="star" *ngIf="mess.preferito=='S'" (click)="setStar(mess,'N')"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>
</ion-footer>