    .border-blue{
    border-width : 0.5em;
    border-color : blue;
}

.border-green{
    border-width : 0.5em;
    border-color : green;
}

.box {
    float: left;
    margin-left : 1em;
  }

.data{
    border-width : 0.5em;
    border-color : green;
}



.messaggi-action {
    text-align: center;
}